* {
	box-sizing: border-box;
}

body {
	font: 10px arial, sans-serif;
	margin: 0px;
}
													/*Header*/
header {
	width: 100%;
	height: 60px;
	background-color: #F8F8F8;
	color: #B7B7B8;
	position: relative;
	font-weight: bold;
	font-size: 0.8rem;
	display: inline-block;
}

.telephone {
	float: left;
	margin: 25px 0 0 50px;
	padding: 0;
}

header ul {
	margin: 0;
	float: right;
	margin: -5px 0 0 0;
}

header li:hover {
	color: #2D85B3;
}

.cart::before {
	content: url('img/cart.png');
	position: relative;
	top: 10px;
}

.search::after {
	content: url('img/searchIcon.png');
	position: relative;
	top: 10px;
}

li {
	list-style: none;
	display: inline;
	padding: 10px;
	cursor: pointer;
	height: 55px;
}

.USD {
	border-right: solid;
	border-left: solid;
	border-width: 0.5px;
	padding: 18px;
}

.hoverNoColor:hover {
	color: #B7B7B8;
}

.fullWidthHide {
	display: none;
}
												/*Navigation*/
nav {
	padding: 30px 30px 10px 50px;
	font-weight: bold;
	font-size: 1rem;
	background-color: #FFFFFF;
	position: sticky;
	top: 0;
	z-index: 10;
	overflow: auto;
}

nav img {
	margin: auto 0;
}

nav div {
	float: right;
	position: relative;
}

nav ul {
	padding: 0;
}

.navMenu {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 2px;
}

.navMenu:hover {
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	padding: 10px;
	height: 55px;
}

.active {
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	border-width: 2px;
}

.hotDeals {
	background-color: #E22A2F;
	color: #FFFFFF;
	padding: 2px;
	font-size: 0.7rem;
	position: absolute;
	left: 180px;
	top: -5px;

}
												/*Main Hero*/
main {
	background-image: url('https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?2347922992084791194');
	background-size: cover;
	background-position: center;
	position: relative;
	height: 500px;
}

main img {
	width: 100%;
}

.heroText {
	position: absolute;
	left: 0;
    top: 30%;
	color: #FFFFFF;
	text-align: center;
	font-size: 2rem;
	width: 100%;
}

.heroText h1 {
	letter-spacing: 15px;
	margin: 42px 0 25px 0;
}

.heroText p {
	font-size: 1rem;
	letter-spacing: 2.5px;
}

.heroButton {
	width: 120px;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
	font-size: 1rem;
	padding: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 2px;
	cursor: pointer;
}
												/*Main CTA*/
.callToAction {
	padding: 0 0 0 50px;
	position: absolute;
	top: 80%;
	width: 100%;
}

.callToAction div {
	height: 200px;
	width: 30%;
	margin: 0 30px 0 5px;
	float: left;
	cursor: pointer;
}

.ctaLeft {
	background-color: #3C3A3C;
} 

.ctaCenter {
	background-color: #2E85B4;
} 

.ctaRight {
	background-color: #4EAED8;
} 
												/*Section Products*/
.products {
	width: 100%;
	padding: 100px 0 100px 50px;
	text-align: center;
	font-size: 1rem;
	font-kerning: normal;
}

.items {
	width: 22%;
	display: inline-block;
	margin: 40px 25px 0 0;
	vertical-align: top;
	font-size: 0.8rem;
	cursor: pointer;
}

.products h6 {
	font-size: 0.85rem;	
	margin: 10px 0 5px 0;
}

.productCost {
	color: #579DC0;
	font-weight: bold;
	font-size: 1.2rem;
}

.fullPrice {
	text-decoration: line-through;
}

.settingsCog {
	width: 60px;
	height: 60px;
	background-color: #797D7C;
	position: fixed;
	top: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 10px 10px 0;
	opacity: 0.5;
}

.settingsCog img {
	width: 40px;
	height: 40px;
}

@media screen and (max-width: 1200px) {
	.callToAction div {
		height: 150px;
		width: 30%;
		margin: 0 10px 0 5px;
		float: left;
		cursor: pointer;
}

												/*Navigation 985 width*/
@media screen and (max-width: 985px) {
	
		nav img {
			margin: 0 auto;
			display: block;
		}

		.dropdownMenu800 {
			display: block;
			height: 50px;
			width: 100%;
			margin: 20px auto;
			padding: 15px 0 0 5px;
			border-style: solid;
			border-color: #000000;
			border-width: 1.5px;
		}

		nav {
			padding: 30px 25px 10px 25px;
			position: static;
		}
		
		.hide960 {
			display: none;
		}
}
	
@media screen and (max-width: 800px) {
												/*Header 800 width*/
	header {
		height: 70px;
		text-align: center;
		padding: 0px;
	}
	
	.hide800 {
		display: none;
	}
	
	.cart800width {
		float: left;
		display: block;
		border-left: solid;
		border-color: #B7B7B8;
		border-width: 0.5px;
		padding: 0;
		margin: -5px;
	}
	
	.cart800image::before {
	content: url('img/cart.png');
	position: relative;
	top: 10px;
	}
	
	.search800width {
		display: block;
		float: right;
		margin: 0;
	}
	
	.search800width::after {
	content: url('img/searchIcon.png');
	margin: 0;
	}

	.header800menu {
		width: 100%;
		margin:10px 0 0 0;
	}

												/*Main Hero 800 width*/
	.heroText {
		top: 15%;
	}

	.heroText h1 {
		text-align: center;
		font-size: 2.75rem;
		letter-spacing: 1.25px;
		margin: 0;
	}
		
	.heroText p {
		font-size: 0.75rem;
		letter-spacing: 1px;
	}
												/*Main CTA 800 width*/		


	.callToAction {
		padding: 0 0 0 15px;
	}
	
	.callToAction div {
		height: 150px;
		margin: 0 15px 0 5px;
	}
												/*Section Products 800 width*/
	.products {
		padding: 100px 15px;
	}
	
	.items {
		margin: 40px 5px;
		width: 30%;
	}
	
	.products img {
		width: 100%;
	}
}

@media screen and (max-width: 475px) {

												/*Header 475 width*/	
	header {
		width: 100%;
		height: 100px;
		background-color: #F8F8F8;
		color: #B7B7B8;
		overflow: auto;
		position: relative;
		padding: 0px 25px 0px 25px;
		font-weight: bold;
		font-size: 0.8rem;
	}
	
	.hide800 {
		display: none;
	}
	
	.hide475 {
		display: none;
	}
	
	.search800width {
		display: block;
		position: absolute;
		top: 5px;
		left: 35%;
		margin: -10px auto 0 auto;
	}
	
	.search800width::after {
	content: url('img/searchIcon.png');
	}

	.cart475 {
		display: block;
		float: left;
	}

	.cart475::before {
		content: url('img/cart.png');
		position: relative;
		top: 10px;
	}
	
	.USD475 {
		display: block;
		float: right;
		margin: 40px 0 0 0;
	}

	.header800menu {
		width: 350px;
		margin: 5px auto;
		position: relative;
	}
												/*Main Hero 475 width*/	

	main {
		height: 200px;
	}	
											
	.heroText h1 {
	font-size: 1.3rem;
	letter-spacing: 1.25px;
	}
	
	.heroText p {
		display: none;
	}
	
												/*Main CTA 475 width*/		
		
	.callToAction {
		position: absolute;
		top: 200px;
		height: 300px;
		padding: 30px 50px;
	}

	.callToAction div {
		height: 250px;
		width: 100%;
		margin: 0 auto;
	}
												/*Section Products 475 width*/
	.products {
		padding: 300px 15px;
	}
	
	.products h3 {
		margin: 20px 0 40px 0;
	}
	
	.items {
		display: block;
		width: 100%;
		margin: 5px 0 0 0;
	}
	
	.items img {
		width: 30%;
		height: 158px;
	}
	
	.itemText {
		width: 60%;
		height: 158px;
		vertical-align: top;
		float: right;
	}
	
	.itemText h6 {
		margin: 30px 0 0 0;
	}

}
